#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-size: cover;
    font-size: 1.5em;
    background-attachment: fixed;
    height: 80%;
    background: url('../images/login.jpg') no-repeat;
    background-size: cover;
  }

  #login:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
 
    width: 100%;
    opacity: 0.3;
  }

  #login h3{
    font-family: 'Oooh Baby', cursive;
    text-align: center;
    font-size: 1.5em;
    color: #59B720;
    font-weight: 800;
    text-shadow: white 1px 1px 0px;
    padding-bottom: 15px;
  }
  
  #login .login-form {
    width: 100%;
    padding: 2em;
    position: relative;
    background-color: rgb(209, 252, 209);
  }
  
  #login.login-form:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(84, 175, 42), #59B720);
  }
  @media screen and (min-width: 600px) {
    .login-form {
      width: 50vw;
      max-width: 15em;
    }
  }

  #login .flex-row {
    display: flex;
    margin-bottom: 1em;
  }
  
  #login .lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    cursor: pointer;
  }
  
  #login .lf--input {
    flex: 1;
    padding: 0.5em;
    border: 0;
    color: black;
    font-size: 1rem;
  }
  #login .lf--input:focus {
    outline: none;
  }
  
  #login .lf--submit {
    display: block;
    padding: 0.3em;
    width: 100%;
    background: linear-gradient(to right, #76db37, rgb(76, 160, 37));
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Oooh Baby', cursive;

  }
  #login .lf--submit:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(1.1);
  }
  