{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}

<section id="confirmation">

    <h1>Paiement confirmé</h1>

    <p>Votre paiement est confirmé ! <br>
    Il ne vous reste plus qu'à aller chercher vos achats chez nos vendeurs.
    </p>
    <h4>Merci de faire confiance à Végé'Table !</h4>

</section>

{% endblock %}