{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<section id="modifProfil" class="modif">

    <h1>Modifer votre profil</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}

</section>

{% endblock %}
